.navbarstyle{
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  background-color:rgba(140, 15, 119, 0.323) ;
  color: white;
  position: sticky;
  width: 100%;
  height: 12vh;
}
ul{

  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
 
 
}
li{
  
  display: inline;
  width: 15%;
  

}
.loginbutton{
  
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link{
  
  width: 40%;

}
.logo{
  
  width: 50%;
  height: 100%;
  display: flex;
 flex-direction: row;
gap: 3%;
  
}

.Nav{
    display: flex;
    justify-content: space-around;
    background-color:black ;
    color: white;
    position: sticky;
}


ul{
    list-style-type: none;
    display: flex;
    gap:10px ;
    justify-content: center;
    padding-top: 5%;
}
.icons{
    margin-top: 10%;
}
button{
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}
.background-container {
    background-image: url('HomepageBackGround.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height to full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:  rgb(7, 7, 7); /* Set text color to contrast with the background */
    padding: 10%;
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid black;
       
  }
  .about-container {
    background-image: url('./Images/A3.webp'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height to full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Set text color to contrast with the background */
    padding: 10%;
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid black;
       
  }
  .Listitems{
    
    width: 200px;
    height: 300px;
  }



  .flexcontainer {
    display: flex;
    justify-content: space-between;
  }
  .row2{
    display: flex;
    /* border: 1px solid red; */
  }
  .Listitems{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    margin-left: 5%;
  }
  .Cards{  
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    padding-top: 2%;
 }




 /* About.css */

.about-container {
    position: relative;
  }
  
  .card-container {
    position: absolute;
    top: 100%; /* Position the card container below the content */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f0f0; /* Adjust background color as needed */
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px; /* Adjust the card width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .coursetext{
    margin: 5%;
    
  }
  .homepageheading{
    color:cyan;
    text-align: center;
    padding-top: 10px;
  }
  .innercoursetext{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows:repeat(1,1fr);
    text-wrap: wrap;
    gap: 10px;
  }






  
  .formgroup{
    /* width: 100%; */
  padding: 0.5rem;
  border-radius: 4px;
  padding-left: 5px;
  /* border: 1px solid #ccc; */
  }
.formgroup textarea{
  height: 10rem;
}
.formgroup button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formgroup button:hover {
  background-color: #45a049;
}


.coursegrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-wrap: wrap;
}


.grid-item{
  display: ;
  grid-template-columns: repeat(4,1fr);

}



.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.title {
  font-size: 3rem;
  color: #ff6347;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

input,
textarea {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 2px 2px 4px rgba(0, 127, 255, 0.5);
}

button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: #ff6347;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: #e64a33;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.contactelement{
  margin-left: 35%;
  
  
}
.RegisterButton{
  margin-top: 15px
}
.LoginButton{
  margin-top: 15px
}
.bgimg{
  background-image: url('./Images/cimg3.avif');
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100vw;
 
}
.cc{
  color: whitesmoke;
}

  /* ----------------------------------------login,register start---------------------------------------------- */
 .login-container,
 .register-container{
   /* border: 2px solid rgb(9, 156, 41); */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width:100% ;
   height: 85vh;
 }
 .login-image{
  /* border: 2px solid rgb(217, 78, 14); */
  display: flex;
  width: 50%;
  height: 100%;

 }
 .login-form,
 .register-form{
  /* border: 2px solid rgb(9, 24, 156); */
 
  display: flex;
  flex-direction: column;
  width:50% ;
  height: 100%;
  justify-content: center;
  align-items: center;
 
  
 }
 .login-form-container{
  /* border: 2px solid rgb(9, 24, 156); */
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  width: 60%;
  height: 60%;
 }
 #exampleEmail,
 #examplePassword{
background-color:rgba(221, 219, 219, 0.655) ;
 }
  
  /* ----------------------------------------login,register end---------------------------------------------- */


.abouttext{
  display: flex;
}

/* CardCarousel.css */

/* Existing styles */

.carousel-controls {
  margin-top: 10px;
  text-align: center;
}

.carousel-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}
















  
  
