#mobile i{
    color:cyan;
  }
  .Cardabout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  /* Add this to your existing CSS file or create a new one */

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.hoverable-card {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.hoverable-card img {
  width: 100%;
  height: auto;
}

.hoverable-card:hover,
.hovered {
  transform: translateY(-10px);
}
/* Footer.css */

.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Add more styles as needed for your footer */
/* CardCarousel.css */

.card-carousel-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}
/* CardCarousel.css */

.card-carousel-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.controls {
  margin-top: 10px;
  text-align: center;
}

.controls button {
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}



.login-container,
.register-container{
  /* border: 2px solid rgb(9, 156, 41); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100% ;
  height: 87vh;
}
.login-image{
 /* border: 2px solid rgb(217, 78, 14); */
 display: flex;
 width: 50%;
 height: 100%;

}
.login-form,
.register-form{
 /* border: 2px solid rgb(9, 24, 156); */

 display: flex;
 flex-direction: column;
 width:50% ;
 height: 100%;
 justify-content: center;
 align-items: center;

 
}
.login-form-container{
 /* border: 2px solid rgb(9, 24, 156); */
 display: flex;
 flex-direction: column;
 justify-content: center;

 width: 60%;
 height: 60%;
}
#exampleEmail,
#examplePassword{
background-color:rgba(221, 219, 219, 0.655) ;
}
 
 /* ----------------------------------------login,register end---------------------------------------------- */